In [2]:
# Import Dependecies

import pandas as pd
import numpy as np
import csv 
import matplotlib.pyplot as plt
from pathlib import Path
import scipy.stats as st

In [6]:
# Creating path to CSV file
employment_file = Path('Resources/employment_data.csv')

# Reading the CSV
employ_df = pd.read_csv(employment_file)

# Display CSV
employ_df

,REF_DATE,GEO,DGUID,Labour force characteristics,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976,Canada,2016A000011124,Population,Both sexes,15 years and over,Persons,249,units,0,v1063541342,1.1.1.1,17058.0,NaN,NaN,NaN,1
1,1976,Canada,2016A000011124,Population,Both sexes,15 to 24 years,Persons,249,units,0,v1063541343,1.1.1.2,4550.4,NaN,NaN,NaN,1
2,1976,Canada,2016A000011124,Population,Both sexes,25 years and over,Persons,249,units,0,v1063541344,1.1.1.3,12507.6,NaN,NaN,NaN,1
3,1976,Canada,2016A000011124,Population,Both sexes,25 to 44 years,Persons,249,units,0,v1063541345,1.1.1.4,6259.7,NaN,NaN,NaN,1
4,1976,Canada,2016A000011124,Population,Both sexes,45 to 64 years,Persons,249,units,0,v1063541363,1.1.1.22,4376.9,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409459,2022,British Columbia,2016A000259,Employment rate,Females,55 to 59 years,Percentage,242,units,0,v1063549916,11.10.3.17,68.6,NaN,NaN,NaN,1
409460,2022,British Columbia,2016A000259,Employment rate,Females,60 to 64 years,Percentage,242,units,0,v1063549917,11.10.3.18,49.9,NaN,NaN,NaN,1
409461,2022,British Columbia,2016A000259,Employment rate,Females,65 years and over,Percentage,242,units,0,v1063549918,11.10.3.19,11.5,NaN,NaN,NaN,1
409462,2022,British Columbia,2016A000259,Employment rate,Females,65 to 69 years,Percentage,242,units,0,v1063549919,11.10.3.20,24.7,NaN,NaN,NaN,1
409463,2022,British Columbia,2016A000259,Employment rate,Females,70 years and over,Percentage,242,units,0,v1063549920,11.10.3.21,5.4,NaN,NaN,NaN,1

In [5]:
# Drop irrelevant Columns

reduced_df = employ_df[['REF_DATE','GEO','DGUID','UOM','Labour force characteristics','Sex','UOM_ID','SCALAR_FACTOR','']]

        REF_DATE               GEO
0           1976            Canada
1           1976            Canada
2           1976            Canada
3           1976            Canada
4           1976            Canada
...          ...               ...
409459      2022  British Columbia
409460      2022  British Columbia
409461      2022  British Columbia
409462      2022  British Columbia
409463      2022  British Columbia

[409464 rows x 2 columns]