In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from pathlib import Path
#Filters warnings
from warnings import filterwarnings

In [2]:
#Loading file into Path
data = Path('../../Resources/income_data.csv')
#Reading income data file
income_df = pd.read_csv(data)
income_df.head()

,REF_DATE,GEO,DGUID,Sex,Work activity,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2012,Canada,2016A000011124,Both sexes,All persons with employment income,Number of persons,Number,223,thousands,3,v107657641,1.1.1.1,20070.0,A,NaN,NaN,0
1,2012,Canada,2016A000011124,Both sexes,All persons with employment income,Average employment income,2021 constant dollars,429,units,0,v107657642,1.1.1.2,47900.0,A,NaN,NaN,0
2,2012,Canada,2016A000011124,Both sexes,All persons with employment income,Median employment income,2021 constant dollars,429,units,0,v107657643,1.1.1.3,36200.0,A,NaN,NaN,0
3,2012,Canada,2016A000011124,Both sexes,All persons with employment income,"Percentage under $5,000 (including losses)",Percent,239,units,0,v107657644,1.1.1.4,12.3,A,NaN,NaN,1
4,2012,Canada,2016A000011124,Both sexes,All persons with employment income,"$5,000 to $9,999",Percent,239,units,0,v107657645,1.1.1.5,8.1,B,NaN,NaN,1

In [3]:
#REmove columns, DGUID, Sex, REmove UOM ID, scalar factor, scalar id, coordinate, symbol, terminated, decimals
income_df = income_df.drop(columns = ['DGUID', 'Sex', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'COORDINATE', 'SYMBOL', 'TERMINATED', 'DECIMALS', 'STATUS'])
income_df.head()

,REF_DATE,GEO,Work activity,Statistics,UOM,VECTOR,VALUE
0,2012,Canada,All persons with employment income,Number of persons,Number,v107657641,20070.0
1,2012,Canada,All persons with employment income,Average employment income,2021 constant dollars,v107657642,47900.0
2,2012,Canada,All persons with employment income,Median employment income,2021 constant dollars,v107657643,36200.0
3,2012,Canada,All persons with employment income,"Percentage under $5,000 (including losses)",Percent,v107657644,12.3
4,2012,Canada,All persons with employment income,"$5,000 to $9,999",Percent,v107657645,8.1

In [4]:
#Renaming Columns 
new_income_df = income_df.rename(columns={
        "REF_DATE" : "Year",
        "GEO" : "Province",
        "Work activity" : "Employment Type",
        "Statistics" : "Type of Statistic",
        "UOM" : "Unit of Measure",
        "VECTOR" : "Vector ID",
        "VALUE": "Value"
                                }                                 
                                 )

In [5]:
#Rearranging the Columns
new_income_df = new_income_df[['Vector ID', 'Year', 'Province', 'Employment Type','Type of Statistic',
       'Unit of Measure', 'Value']]
new_income_df.head()

,Vector ID,Year,Province,Employment Type,Type of Statistic,Unit of Measure,Value
0,v107657641,2012,Canada,All persons with employment income,Number of persons,Number,20070.0
1,v107657642,2012,Canada,All persons with employment income,Average employment income,2021 constant dollars,47900.0
2,v107657643,2012,Canada,All persons with employment income,Median employment income,2021 constant dollars,36200.0
3,v107657644,2012,Canada,All persons with employment income,"Percentage under $5,000 (including losses)",Percent,12.3
4,v107657645,2012,Canada,All persons with employment income,"$5,000 to $9,999",Percent,8.1

In [6]:
#Filtering Data by Year 
#condition1 = df['Column1'].str.contains('a')
year_income_df = new_income_df.loc[new_income_df['Year'] > 2018, :]
emp_income_df = year_income_df.loc[year_income_df['Employment Type'] == 'All persons with employment income', :]
#Alberta


# Defining a list of provinces and territories
pt = ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan']

# Check if values in 'Province' are in the list of provinces and territories
filter_condition = emp_income_df['Province'].isin(pt)

#Filtered Provinces & territories data 
province_income_df = emp_income_df[filter_condition]
clean_income_df = province_income_df
clean_income_df.head(50)

# Resetting index
clean_income_df.reset_index(drop=True, inplace=True)

In [7]:
#Output Data
clean_income_df.to_csv("../../Output/clean_income_data.csv", index = True)